@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

#video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1.2);
    opacity: 0.5;
}

#links {
    display: flex;
}

#links img {
    width: 100px;
    height: 100px;
    filter: grayscale(1) blur(0.5px) brightness(0);
    padding-left: 10px;
    padding-right: 10px;
}

#github {
    width: 85px !important;
}

#links img:hover {
    filter: grayscale(1) blur(0px) brightness(0);
    transform: scale(1.01);
    cursor: pointer;
}